@import './base.css';
@import "tailwindcss";
/* archivo global.css o styles.css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* casi transparente */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

:root {
  --bcolor: rgb(102, 102, 102);

}
