@import './base.css';
@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

:root {
  --bcolor: rgb(102, 102, 102);
}

:root {
  --bg-color: rgb(48, 48, 48);
  --bg-d-color: rgb(26, 26, 26);
  --border-color: rgb(102, 102, 102);
  --primary: #10b981;
}